body {
  background-image: url("/login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
