@background-color: pink;
@images: "/login-background.jpg";

body{
    //background:@background-color; 
    background-image: url("@{images}") ;
    background-size: cover;
    background-repeat: no-repeat;
}

    body>.grid {
        height: 100%;
    }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 450px;
    }